body{
    background-size: cover;
}
.header{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#button,#objects_detected,#status{
    font-size: 18px;
}
.footer{
    position: fixed;
    bottom: 0;
    width:100%;
    color: blueviolet;
    background-color: aqua;
    text-align: center;
    line-height: 3;
    font-size: 20px;


}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    margin-top: 85px;
}